@font-face{
    src: url(../Font/Sacramento-Regular.ttf);
    font-family: "Sacramento";
}
@font-face{
    src: url(../Font/Montserrat-Regular.ttf);
    font-family: "Montserrat";
}


*{
    margin: 0; 
    padding: 0; 
    width:100%; 
} 
 
.header{ 
    background-color: #787FF6; 
    
} 
.profile{ 
    width: 200px; 
    height: 200px; 
    border-radius: 100%; 
    top:50px; 
    left: 45%; 
    position: relative; 
} 
.moun{ 
    width:45%; 
    position: relative; 
    left: 25%; 

} 
.cloud{ 
    width: 150px;; 
    position: relative; 
    top: 30px; 
    left: 60%; 
    animation: move 3s ease-out infinite; 
} 
.cloud1{ 
    width: 150px;; 
    position: relative; 
    top: 30px; 
    left: 20%; 
    animation: move 3s ease-in infinite; 
} 
.cloud2{ 
    width: 150px;; 
    position: relative; 
    top: 20px; 
    left: 80%; 
    animation: move 3s ease-out infinite; 
} 
@keyframes move{ 
    0%{ 
        opacity: 0; 
        transform: translateX(-15rem); 
    } 
    100%{ 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
h1{ 
    color: #522157; 
    font-family: Sacramento;
    font-size: 60px; 
    text-shadow: 2px black; 
    text-align: center; 
     
 
} 
h4{ 
    font-family: sans-serif; 
    font-size: 20px; 
   color: rgb(0, 12, 44); 
  text-align: center; 
    
} 

h2{ 
    font-family: Montserrat;
    position: relative; 
    font-size: 50px; 
    top: 50px; 
    left:48%; 
} 
.home-section-intro{
    height: 105vh;
    position: relative;
    padding-top: 5rem;
    background-color: #4ADEDE;
    
}

p{  
    
    position: relative; 
    top:100px; 
    left: 42%; 
    font-size: 20px; 
} 
.skill
{
    position: relative; 
    top: 200px; 
    font-size: 40px; 
    left: 40%;  
} 
.cs{ 
    position: relative; 
    top:210px; 
    font-size: 20px; 
    left: 42%;  
} 



.browser{ 
    position: relative; 
    width:150px; 
    left:10%; 
    top:300px; 
   
}

.web{
    position: relative; 
    font-size: 25px;
    top:165px;
    left:25%; 
} 
.as{
    position: relative;
    font-size: 25px;
    top:250px;
    left:9%; 
} 
.git{
    position: relative;    
     top: 400px;
    font-size: 40px;
    left: 40%;  
} 
.let{
    position: relative;
    top: 430px;
    font-size: 20px;
    left: 38%;  
} 
 

.pro{
    position: relative;
    top: 470px;
    font-size: 20px;
    left: 28%; 
} 
.par{
    position: relative;
    font-size: 20px;
    top:260px;
    left:10%;
} 
.p{
    position: relative;
    font-size: 20px;
    top:175px;
    left:27%; 
      
} 
.cs{
    font-size: 30px;
}

.button{
    position: relative;
    top: 500px;
    left: 43%; 
    width:170px;
    height: 50px;
    background-color: blue;
    color: beige;
    border-radius: 10px;
    font-size: 30px;
   
    font-size: 30px;
} 

.another-img{
    width: 10rem;
    float: right;
}
.home-section{
    height: 150vh;
    position: relative;
    padding-top: 5rem;
    background-color: #AAB6FB;
}
.main-nav{
    position: relative;
    left: 30%; 
    
} 

.nav-item{
    bottom: 20;
    position: relative;
    margin-left: 60px;
    font-size: 20px;
    text-decoration: none;
    color:blue;
}
.a{
    left: 200px;
    top: 30px;
    color: skyblue;
}
.footer{
    background: rgb(230, 63, 230);
    height:80px;
    position: relative;
    top: 520px;
}
